<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161935431952-snc6frcja0rjv6hnha7orqhac5ijv7bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161935431952-snc6frcja0rjv6hnha7orqhac5ijv7bd</string>
	<key>API_KEY</key>
	<string>AIzaSyDmzAK23KQRQe43YqDcGMtExQe5cBrsoDI</string>
	<key>GCM_SENDER_ID</key>
	<string>161935431952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoomapp-d050e</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomapp-d050e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161935431952:ios:847f6cd7b8b5916c0aed95</string>
</dict>
</plist>